<style>
    img {
        height: 100px;
    }

    span {
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        font: 20px/28px Georgia, serif;
        padding: 5px;
    }
</style>
<div>
    <h1>
        Child2 View Rendered
    </h1>

    <h2>Draging directive fun</h2>
    <img lhb-draggable src="http://izaak.jellinek.com/tuxes/images/big%20tux.png" />
   
    <img lhb-draggable src="../../../../Content/images/lhb.jpg" />
    <img lhb-draggable src="../../../../Content/images/angular.png" />
    <span lhb-draggable>Drag me!</span>
    <span >I am not draggable</span>
</div>